<head>
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.min.js"></script>
  <!-- Underscore -->
  <script src="http://underscorejs.org/underscore-min.js"></script>

  <!--SCRIPTS-->
  <script src="/js/dependencies/sigma.min.js"></script>
  <script src="/js/dependencies/sigma_plugins/sigma.exporters.svg.min.js"></script>
  <script src="/js/dependencies/sigma_plugins/sigma.layout.forceAtlas2.min.js"></script>
  <script src="/js/dependencies/sigma_plugins/sigma.neo4j.cypher.min.js"></script>
  <script src="/js/dependencies/sigma_plugins/sigma.parsers.cypher.min.js"></script>
  <script src="/js/dependencies/sigma_plugins/sigma.parsers.gexf.min.js"></script>
  <script src="/js/dependencies/sigma_plugins/sigma.parsers.json.min.js"></script>
  <script src="/js/dependencies/sigma_plugins/sigma.pathfinding.astar.min.js"></script>
  <script src="/js/dependencies/sigma_plugins/sigma.plugins.animate.min.js"></script>
  <script src="/js/dependencies/sigma_plugins/sigma.plugins.dragNodes.min.js"></script>
  <script src="/js/dependencies/sigma_plugins/sigma.plugins.filter.min.js"></script>
  <script src="/js/dependencies/sigma_plugins/sigma.plugins.neighborhoods.min.js"></script>
  <script src="/js/dependencies/sigma_plugins/sigma.plugins.relativeSize.min.js"></script>
  <script src="/js/dependencies/sigma_plugins/sigma.renderers.customEdgeShapes.min.js"></script>
  <script src="/js/dependencies/sigma_plugins/sigma.renderers.customShapes.min.js"></script>
  <script src="/js/dependencies/sigma_plugins/sigma.renderers.edgeLabels.min.js"></script>
  <script src="/js/dependencies/sigma_plugins/sigma.renderers.parallelEdges.min.js"></script>
  <script src="/js/dependencies/sigma_plugins/sigma.renderers.snapshot.min.js"></script>
  <script src="/js/dependencies/sigma_plugins/sigma.statistics.HITS.min.js"></script>
  <script src="/js/dependencies/module.js"></script>
  <script src="/js/dependencies/ng-file-upload/FileAPI.min.js"></script>
  <script src="/js/dependencies/ng-file-upload/ng-file-upload-all.min.js"></script>
  <script src="/js/dependencies/ng-file-upload/ng-file-upload-shim.min.js"></script>
  <script src="/js/dependencies/ng-file-upload/ng-file-upload.min.js"></script>
  <script src="/js/services/Person.service.js"></script>
  <script src="/js/services/Picture.service.js"></script>
  <script src="/js/services/Relation.service.js"></script>
  <script src="/js/services/Tag.service.js"></script>
  <script src="/js/services/User.service.js"></script>
  <script src="/js/controllers/home.controller.js"></script>
  <script src="/js/controllers/index.controller.js"></script>
  <script src="/js/controllers/upload.controller.js"></script>
  <!--SCRIPTS END-->

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->

</head>

<body ng-app='treeApp'>
  <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/linker/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit your Gruntfile.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

  <!--TEMPLATES-->

  <!--TEMPLATES END-->

  <%- body %>
</body>
