<style>
    input {
        width: 40%;
        padding: 12px 20px;
        border-radius: 4px;
        text-align: center;
    }

    button {
        width: 40%;
        padding: 12px 20px;
        border-radius: 7px;
        text-align: center;
        color: black;
    }

    input:focus {
        border: 3px solid #555;
    }

    a:link {
        color: #FFD700;
    }

    a:visited {
        color: #BFA100;
    }

    .form-control, .login-control {
        margin: 5px;
    }

    .login-form-1 {
        text-align: center;
        margin: auto;
        width: 50%;
        padding: 10px;
    }
</style>

<div class="login-form-1">
	<form id="login-form" class="text-left">
		<div class="main-login-form">
			<div class="login-group">
				<div class="form-group">
					<label for="lg_username" class="sr-only">Username</label>
					<input type="text" class="form-control" id="lg_username" name="lg_username" placeholder="username">
				</div>
				<div class="form-group">
					<label for="lg_password" class="sr-only">Password</label>
					<input type="password" class="form-control" id="lg_password" name="lg_password" placeholder="password">
				</div>
			</div>
			<button type="submit" class="login-control">log in</button>
		</div>
		<div class="etc-login-form">
			<p>forgot your password? <a href="#">click here</a></p>
			<p>new user? <a href="#">create new account</a></p>
		</div>
	</form>
</div>
