<div>
    <style>
        .form {
            padding: 10px;
            padding-left: 25px;
        }

        #saveRelation {
            padding-top: 10px;
        }

        #savePeople {
            text-align: center;
            margin: auto;
            width: 50%;
            padding: 10px;
        }

        #nameField {
            width: 40%;
            border-radius: 4px;
        }
    </style>
    <body>
        <div class="form" id="savePeople">
            Add a person to your tree:
            <form id="saveRelation">
                <!-- On save, send to db -->
                Name: <input type="text" name="firstname" id='nameField'> <input type="submit" value="Save">
            </form>
        </div>
        <div class="form">
            <!-- This section should show most recent people added, and offer the ability -->
            <!-- to add a relation for the new family member to other people in the list -->
            Recently added people:
        </div>
    </body>
</div>
