<div>
    <style>
        #form {
            padding: 10px;
            padding-left: 25px;
        }
    </style>
    <body>
        <div id="form">
            Add a person to your tree:
            <form>
                <!-- On save, send to db -->
                Name: <input type="text" name="firstname"> <input type="submit" value="Save">
            </form>
        </div>
        <hr>
        <div id="form">
            <!-- This section should show most recent people added, and offer the ability -->
            <!-- to add a relation for the new family member to other people in the list -->
            Recently added people:
        </div>
    </body>
</div>
