<div>
    <md-content style="width: 60%">
    <md-card>
       <md-card-title>
         <md-card-title-text>
           <span class="md-headline">Profile Information</span>
           <span class="md-subhead"><b>Email:</b> {{userInformation.email}}</span>
           <span class="md-subhead"><b>Password:</b> {{userInformation.password}}</span>
         </md-card-title-text>
         <md-card-title-media>
             <div class="md-media-md card-media">
                  <img height="50" width="30" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"/>
             </div>
         </md-card-title-media>
       </md-card-title>
       <form ng-show="changeEmail" ng-submit="submitEmail()">
           <md-input-container class="md-input-had-value">
               <label for="email">New Email</label>
               <input type="email" ng-model="newEmail" id="email" required/>
           </md-input-container>
           <button class="md-button md-ink-ripple" type="submit">
               <span>SUBMIT</span>
           </button>
       </form>
       <form ng-show="changePass" ng-submit="submitPass()">
           <md-input-container ng-show="changePass" class="md-input-had-value">
               <label for="pass">New Password</label>
               <input type="password" ng-model="newPass" id="pass" required/>
           </md-input-container>
           <button class="md-button md-ink-ripple" type="submit">
               <span>SUBMIT</span>
           </button>
       </form>
       <div id="message" class="alert alert-success" data-ng-show="message" data-ng-bind="message"></div>
       <md-card-actions layout="row" layout-align="start center">
         <md-button ng-click="toggle(1)">Change Email</md-button>
         <md-button ng-click="toggle(2)">Change Password</md-button>
         <md-button>Change Image</md-button>
       </md-card-actions>
     </md-card>
     </md-content>
</div>
<style>
md-content{
    width: 60%;
}
md-card{
    background-color: #616161;
}
</style>
