<div ng-controller="HomeController">

  <form name="form">
    Single Image with validations
    <div class="button" ngf-select ng-model="picture.file1" name="file1" ngf-pattern="'image/*'"
      ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">Select</div>
      {{picture.file1}}
    <button type="submit" ng-click="uploadPicture(picture)">submit</button>
  </form>
</div>
