<body>
  <h1>
    Hello
  </h1>
  <h3>
    {{5+5}}
  </h3>
  <h4>{{model}}</h4>
  <input ng-model='model' />

  <br />
  <br />
  <style type="text/css">
    body {
      margin: 0;
    }

    #container {
      position: absolute;
      width: 80%;
      height: 80%;
    }
  </style>
  <div id="container"></div>
  <script>
    // Let's first initialize sigma:
    $(document).ready(function() {
      console.log("ready!");
      var s = new sigma({
        renderers: [{
          container: document.getElementById('container'),
          type: 'webgl' // sigma.renderers.canvas works as well
        }]
      });

      // Then, let's add some data to display:
      s.graph.addNode({
        // Main attributes:
        id: 'n0',
        label: 'Hello',
        // Display attributes:
        x: 0,
        y: 0,
        size: 5,
        color: '#f00'
      }).addNode({
        // Main attributes:
        id: 'n1',
        label: 'World !',
        // Display attributes:
        x: 1,
        y: 1,
        size: 5,
        color: '#00f'
      }).addEdge({
        id: 'e0',
        // Reference extremities:
        source: 'n0',
        target: 'n1'
      });

      // Finally, let's ask our sigma instance to refresh:
      s.refresh();
    });
  </script>
</body>
