<!--This file should contain all of the view code for a picture upload  -->
<!--For consistency with RESTful practices, files will be uploaded to  -->
<!--  the routee POST /picture -->
<!--The associated angular controller is in  -->
<!--  /assets/js/controllers/UploadController.js  -->
<div ng-controller='UploadController'>
HELLO
</div>
